@page "/"

<PageTitle>Index</PageTitle>

<MyPageTitle Title="Hello, world from Component!" ShowImage="true"></MyPageTitle>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum sem sit amet eros feugiat rutrum. Aenean in feugiat nulla. In nulla dui, porta sed est non, semper tempor orci. Vivamus vel lorem quis tellus aliquet imperdiet id eu dui. Quisque suscipit, ex dictum bibendum maximus, erat justo elementum ex, vel aliquet dui sem ut nibh. Cras lacus erat, venenatis sed nunc maximus, porta mattis nisi. Donec dictum urna metus, id placerat nulla pretium at. Pellentesque eleifend sagittis congue. Proin porttitor fringilla massa, in suscipit eros hendrerit vel. Donec sodales dui sapien, at tristique odio pharetra sit amet. Aliquam sagittis ipsum nec erat posuere imperdiet. Mauris vulputate facilisis placerat. In pretium feugiat tortor, non sagittis sapien tincidunt quis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam vulputate pretium eros, at rutrum elit eleifend eu.</p>

<MyRCLComponents></MyRCLComponents>

<p>This is an Image directly in the page</p>

<img src="./_content/Blazor.SharedUI.RCL/images/logo.png" />

<div class="rcl-custom-class">
    <span>This div has a css class defined in the RCL</span>
</div>